{% extends 'base.html.twig' %}

{% block title %}{{ 'event list' | trans | capitalize }}{% endblock %}

{% block body %}
    <div class="container my-4">
        {% for event in events %}
            
        {% endfor %}
    </div>
{% endblock %}
