<h2>Circuits</h2>
<table id="event-entries" class="table table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Libellé</th>
        </tr>
    </thead>
    <tbody>
        {% for circuit in event.circuits %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ circuit.label }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
