{% for section in event.sections %}
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">{{ section.title }}</h2>
            {{ section.content|raw }}
        </div>
    </div>
{% endfor %}
