<a href="#" data-toggle="modal" data-target="#entry-help" class="text-black-50 text-decoration-none mr-4">
    <i class="fa fa-question" aria-hidden="true"></i>
</a>
<div class="modal fade" id="entry-help" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Aide à l'inscription</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
