<div class="modal fade" id="modal-entries-form" tabindex="-1" role="dialog" aria-labelledby="modal-entries-form-label" aria-hidden="true">
    <div class="col-12 col-lg-8 offset-lg-2 modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-entries-form-label">Inscription</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if event.numberPeopleByEntries is same as (1) %}
                {% include 'Entry/form__individual.html.twig'%}
            {% else %}
                {% include 'Entry/form__team.html.twig'%}
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" form="form_entry">Enregistrer l'inscription</button>
            </div>
        </div>
    </div>
</div>
