{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Administration des types d'évènements{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('owp_administration_administration_event_type')}}" class="btn btn-default">Type d'évènements</a>
{% endblock %}

{% block content %}
    <h1>Créer un nouveau type d'évènement</h1>

    {{ include('Administration/Common/_form.html.twig') }}
{% endblock %}
