{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Administration des types d'évènements{% endblock %}

{% block content %}
    <h1>Modifier le type d'évènement {{ event_type.label }}</h1>

    {{ include('Administration/Common/_form.html.twig') }}
{% endblock %}
