{% block stylesheets %}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

<div class="card bg-transparent border-primary">
  <div class="card-body">
    <h3 class="text-center">Les évènements à venir</h3>
    <div id="my-calendar"></div>
  </div>
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('event') }}
{% endblock %}
