{% extends "@FOSUser/layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('fos_user_profile_show')}}" class="btn btn-default">Mon compte</a>
{% endblock %}

{% block title %}
    Mon compte
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
