{% extends "@FOSUser/layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('fos_user_registration_register')}}" class="btn btn-default">Création d'un compte</a>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
