{{ form_start(form) }}
    {% for element in form %}
        <div class="form-group">
            {{ form_row(element, {'attr': {'class': element.vars.block_prefixes.1 == 'checkbox' ? 'form-check' : 'form-control'}}) }}
        </div>

    {% endfor %}

    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
