{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Administration des évènements{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('owp_administration_administration_content_event')}}" class="btn btn-default">Evènements</a>
{% endblock %}

{% block content %}
    <h1>Modifier l'évènement {{ event.title }}</h1>

    {{ include('Administration/Common/_form.html.twig') }}
{% endblock %}
