{% extends 'content.html.twig' %}

{% block title %}{{ block('fos_user_title') }}{% endblock %}

{% block content_header %}
    <img style="opacity:0.2" class="first-slide" src="https://l1visible.com/wp-content/uploads/2018/10/FORET.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-10">
            <h1>{% block fos_user_title %}{% endblock %}</h1>
            {% block fos_user_header %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row">
                {% block fos_user_breadcrumb %}
                    {{ _self.breadcrumb([])}}
                {% endblock %}
            </div>
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block fos_user_content %}{% endblock fos_user_content %}
    </div>
{% endblock %}
