{% extends 'Administration/base_administration.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="col-12 col-lg-10 offset-lg-1">
        <h1>Configuration du site</h1>

        {{ form_start(form)}}
            <div class="form-group">
                <span>Nom du site</span>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary"  value="Enregistrer la configuration" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
