@import "variables.scss";

.checkbox label, .radio label {
    font-weight: 400;
    margin-left: 0;
}

.box.box-primary {
    border-top-color: $primary;
}

th.sonata-ba-list-field-header-order-desc a:hover:after, th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:after, th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:hover:after,
th.sonata-ba-list-field-header-order-asc a:hover:after, th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active a:after, th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active a:hover:after {
    color: white;
}
