{% extends 'base.html.twig' %}

{% block title %}{{ 'news list' | trans | capitalize }}{% endblock %}

{% block body %}
    <div class="container my-4">
        {% for new in news %}

        {% endfor %}
    </div>
{% endblock %}
