{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Administration des actualités{% endblock %}

{% block content %}
    <h1>Créer une nouvelle actualité</h1>

    {{ include('Administration/Common/_form.html.twig') }}
{% endblock %}
