{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Administration des actualités{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ path('owp_administration_administration_content_news')}}" class="btn btn-default">Actualités</a>
{% endblock %}

{% block content %}
    <h1>Modifier l'actualité {{ news.title }}</h1>

    {{ include('Administration/Common/_form.html.twig') }}
{% endblock %}
