{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Edit News{% endblock %}

{% block content %}
    <h1>Modifier l'actualité {{ news.title }}</h1>

    {{ include('Administration/Common/_form.html.twig') }}
{% endblock %}
