{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}
{% block body %}
<div class="container">
    <h1 class="row">A propos du site</h1>
    <div class="row">

    </div>
</div>
{% endblock %}
