{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
  <div class="col-lg-9">

  </div>
  <div class="col-lg-3">
    {% if app_module_event == "TRUE" %}
      {% include 'Event/Block/calendar.html.twig' %}
    {% endif %}
  </div>
{% endblock %}
