<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | {{ app_name }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'navbar_header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'navbar_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
