<!-- Footer -->
	<section class="bg-dark border-top border-primary p-4">
		<div class="row m-4">
			<div class="col-12 col-lg-10 offset-lg-1">
				{{ sonata_block_render({ 'type': 'sonata.block.link' }, {}) }}
			</div>
			<div class="col-12 col-lg-10 offset-lg-1">
				<div class="text-center text-white">
					<p><u><a href="">{{ app_name }}</a></u> est un club de course d'orientation affilié à la Fédération Française de Course d'Orientation.</p>
					<p class="h6">&copy Tous droits réservés.</p>
				</div>
                <div class="text-center text-white">
					<p><i>Version 0.1.1 - Novembre 2019</i></p>
				</div>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
