<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="offset-lg-2 col-lg-8">
    <div class="text-light font-weight-bold flex-row">
        {{ app_name }}
    </div>
  </div>
</nav>
