{% extends 'Administration/base_administration.html.twig' %}

{% block title %}Administration{% endblock %}
{% block content %}
<div class="container">
    <h1 class="row">Administration</h1>
    <div class="row">
      Vous êtes identifié sur l'administration du site {{ app_name }}. Cet espace est réservé aux administrateurs et rédacteurs de contenus.
    </div>
</div>
{% endblock %}
